@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: brevia;
  src: url('/fonts/brevia-black-italic.otf');
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: #676f76;
}

h1 {
  font-size: 50px;
  color: rgb(59, 59, 59);
  margin-left: 10px;
}
